@import url("variables.css");
@import url("reset.css");
@import url("fonts.css");

/* ----- OTHERS -----*/

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--font-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----- HEADER ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent {
    display: flex;
    align-items: center;
    gap: 25px;
}

#search {
    display: flex;
    padding: 5px;
    gap: 10px;
    background-color: var(--surface-color);
    border-radius: 15px;
}

#search button {
    border: none;
    background-color: var(--surface-color);
}

#search input {
    border: none;
    background-color: var(--surface-color);
    width: 600px;
    height: 30px;
    font-size: 15px;
    outline: none;
}

#searchIcon {
    height: 25px;
}

.aLogo {
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 50px;
    gap: 20px;
    font-family: var(--font-logo);
}

.icon {
    height: 40px;
}

#menu {
    margin-left: 30px;
}

/* ----- MAIN LAYOUT ----- */

main {
    display: flex;
    flex: 1;
}

/* ----- SIDEBAR ----- */

.sideBar {
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sideBar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sideBar ul li img {
    height: 33px;
    width: 30px;
}

.sideBar ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
}