@import url("variables.css");
@import url("reset.css");
@import url("fonts.css");

/* ----- OTHERS -----*/

a {
    text-decoration: none;
    color: var(--text-color);
}

body {
    background-color: var(--background-color);
    font-family: var(--font-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ----- HEADER ----- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 25px;
}

#search {
    display: flex;
    padding: 5px;
    gap: 10px;
    background-color: var(--surface-color);
    border-radius: 15px;
}

#search button {
    border: none;
    background-color: var(--surface-color);
}

#search input {
    border: none;
    background-color: var(--surface-color);
    width: 600px;
    height: 30px;
    font-size: 15px;
    outline: none;
}

#searchIcon {
    height: 25px;
}

.aLogo {
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 50px;
    gap: 20px;
    font-family: var(--font-logo);
}

.icon {
    height: 40px;
}

#menu {
    margin-left: 30px;
}

/* ----- MAIN LAYOUT ----- */

main {
    display: flex;
    flex: 1;
}

/* ----- SIDEBAR ----- */

.sidebar {
    padding: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar ul li img {
    height: 33px;
    width: 30px;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* ----- TASK SECTION ----- */

.task-section {
    background-color: var(--main-background-color);
    border-top-left-radius: 30px;
    flex: 1;
}

/* ----- DOTS CUSTOMIZATION ----- */

.dot {
    font-size: 20px;
}
.important {
    color: var(--important-color);
}

.today {
    color: var(--today-color);
}

.today-important {
    color: var(--today-important-color);
}

.default {
    color: var(--default-color);
}

.completed {
    color: var(--completed-color);
}

/* ----- TASK CAPTION ----- */

.task-caption {
    display: flex;
    gap: 30px;
    margin-left: 60px;
    padding: 20px;
    list-style: none;
}

/* ----- TASK CARD ----- */

.task-list {
    display: flex;
    padding: 10px;
    gap: 25px;
    justify-content: center;
    list-style: none;
}

.task-list li a {
    background-color: var(--background-color);
    font-size: 12px;
    border-radius: 20px;
    padding: 20px;
    width: 380px;
    height: 125px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
