:root {
    /* Color */
    --background-color: #EFEFEF;
    --surface-color: #DFDFDF;
    --text-color: black;
    --smooth-text-color: #8E8E8E;
    --main-background-color: #FFFFFF;

    /* Dots colors */
    --important-color: #FF0000;
    --today-color: #ADB44A;
    --today-important-color: #2600CF;
    --default-color: #FF00C8;
    --completed-color: #00C52B;
    --expired-color: #BD3900;

    /* Button Colors */
    --cancel-button-color: #FF8A36;
    --confirm-button-color: #5B89FF;
    --delete-button-color: #FF6C6C;
    --complete-button-color: #00E500;

    /* Typography */
    --font-primary: "Inter", sans-serif;
    --font-logo: "Inria Sans", sans-serif;
}